.footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #000;
}