.hero {
    top: 120px;
    left: 0;
    right: 0;
    position: absolute;

    &__container {
        position: relative;
        height: 1000px;
        @media (max-width: 991.98px) {
            height: 70vh;
        }
        z-index: 1;
    }

    &__content::before {
        position: absolute;
        top: 0;
        left: 15px;
        bottom: 0;
        right: 15px;
        content: '';
        z-index: -1;
        max-height: 1000px;
        background-image: linear-gradient(90deg, rgba(33, 24, 20, 0.57) 0%, rgba(38, 28, 24, 0.42) 100%), url('../../img/hero.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media (max-width: 991.98px) {
            height: 70vh;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        padding: 60px 40px;
        @media (max-width: 991.98px) {
            gap: 20px;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__content-text {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    &__content-title {
        max-width: 671px;
        font-family: 'Playfair Display';
        font-style: normal;
        margin: 0;
        font-weight: 900;
        font-size: 70px;
        @media (max-width: 991.98px) {
            font-size: 50px;
        }
        @media (max-width: 569.98px) {
            font-size: 21px;
        }
        line-height: 110%;
        color: #FFFFFF;
    }

    &__content-supertitle {
        color: #FFFFFF;
        padding: 10px 25px;
        max-width: 222px;
        border: 1px solid #EFE7E2;
        
        
    }

    &__content-subtitle {
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        margin-top: 29px;
        line-height: 150%;
        /* or 27px */
        color: #EFE7E2;
        @media (max-width: 336px) {
            display: none;
        }
    }
    &__content-btn{
        background-color: var(--accent-color);
        color: #FFFFFF;
        padding: 18.5px 51px;
        max-width: 194px;
        cursor: pointer;
        border: none;
        position: absolute;
        bottom: 60px;
        left: 60px;
        @media (max-width: 569.98px) {
            bottom: 20px;
            left: 20px;
        }
    }
    &__content-btn:hover{
        background-color: #a1523a;
        
    }

}