<section class="contacts">
    <div class="contacts__container container">
        @include('./form.html')
    </div>
    <div class="contacts__content" id="contacts">
        <div class="contacts__content-container container">
            <div class="contacts__content-data">
                <div class="contacts__data-items">
                    <div class="contacts__data-title title">Contacts</div>
                    <div class="contacts__data-item">
                        <div class="contacts__data-item-content">
                            <img src="../img/contacts/contact1.svg" alt="" class="data-item-icon">
                            <a href="tel: 8 (800) 000-00-00" class="data-item-value">8 (800) 000-00-00</a>
                        </div>
                    </div>
                    <div class="contacts__data-item">
                        <div class="contacts__data-item-content">
                            <img src="../img/contacts/contact2.svg" alt="" class="data-item-icon">
                            <a href="mailto: info@sitename.com" class="data-item-value">info@sitename.com</a>
                        </div>
                    </div>
                    <div class="contacts__data-item">
                        <div class="contacts__data-item-content">
                            <img src="../img/contacts/contact3.svg" alt="" class="data-item-icon">
                            <div class="data-item-value">302 W 50th St, NY, NY 10019</div>
                        </div>
                    </div>
                    <div class="contacts__data-item">
                        <div class="contacts__data-item-content">
                            <img src="../img/contacts/contact4.svg" alt="" class="data-item-icon">
                            <div class="data-item-value">Daily from 9 to 20</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>