<section class="features">
    <div class="features__container container">
        <div class="features__items">
            <div class="features__item">
                <img class="features__item-img" src="../img/svg/feature1.svg" alt="img">
                <h5 class="features__item-title">Briefly describe the benefit</h5>
                <span class="features__item-text">Long text, in two lines, for clarity and detail</span>
            </div>
            <div class="features__item">
                <img class="features__item-img" src="../img/svg/feature2.svg" alt="img">
                <h5 class="features__item-title">Briefly describe the benefit</h5>
                <span class="features__item-text">Long text, in two lines, for clarity and detail</span>
            </div>
            <div class="features__item">
                <img class="features__item-img" src="../img/svg/feature3.svg" alt="img">
                <h5 class="features__item-title">Briefly describe the benefit</h5>
                <span class="features__item-text">Long text, in two lines, for clarity and detail</span>
            </div>
        </div>
    </div>
</section>