<form action="" class="form">
    <h2 class="form__title">Get in consultation with our expert barbers</h2>
    <span class="form__subtitle">Expand Call-to-Action Details</span>
    <div class="form__fields">
        <input class="form__input-phone form__input" type="text" placeholder="+380 (___) ___-__-__" id="phone-input">
        <input class="form__input-email form__input" type="email" placeholder="email" id="phone-input">
        <buttoon class="form__input-btn">Consultation</buttoon>
    </div>
    <div class="form__checkbox-content">
        <input class="form__checkbox" id="checkbox" type="checkbox">
        <label class="form__label"  for="checkbox">By clicking on the button, you agree to the terms of processing personal data</label>
    </div>
</form>