<header class="header">
  <div class="header__container container">
    <a class="header__logo" href="#index.html">
      <img class="header__logo-img" src="../img/svg/logo.svg" alt="logo">
      <span class="header__logo-title">Cool Barber</span>
    </a>
    <nav class="nav">
      <ul class="nav__navigation-list">
        <nav class="nav__body">
          <ul class="nav__body-items">
            <li class="nav__menu-item"><a href="#about" data-scroll class="nav__link">About Us</a></li>
            <li class="nav__menu-item"><a href="#testimonials" data-scroll class="nav__link">Testimonials</a></li>
            <li class="nav__menu-item"><a href="#price" data-scroll class="nav__link">Price</a></li>
            <li class="nav__menu-item"><a href="#contacts" data-scroll class="nav__link">Contacts</a></li>
          </ul>
        </nav>
      </ul>
    </nav>
    <button class="header__burger">
      <span></span>
    </button>
    <div class="header__contacts">
      <div class="header__contacts-location">
        <span class="header__contacts-location-text">302 W 50th St, NY, NY 10019</span>
        <img class="header__contacts-location-img" src="../img/svg/location.svg" alt="location">
      </div>
      <div class="header__contacts-number">
        <span class="header__contacts-number-text"><a class="header__contacts-tel" href="tel: 8 (800) 000-00-00">8 (800)
            000-00-00</a> Daily from 9 to 20</span>
        <img class="header__contacts-location-img" src="../img/svg/phone.svg" alt="phone">
      </div>
    </div>
  </div>
</header>