<section class="price" id="price">
    <div class="price__container container">
        <h2 class="price__title title">Our Price</h2>
        <span class="price__subtitle text">Subheading that reveals the details of the title and calls for the targeted
            action</span>
        <div class="price__items">
            <div class="price__item">
                <img src="../img/price/price1.jpg" alt="" class="price__item-img">
                <div class="price__item-title">Haircuts</div>
                <div class="price__item-content">
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Regular Haircut</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$20</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Haircut + Shave</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$19</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Haircut + Beard Trim</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$30</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Beard Trim</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$22</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Hair Tatoo</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$40</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Facial</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$15</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="price__item">
                <img src="../img/price/price2.jpg" alt="" class="price__item-img">
                <div class="price__item-title">Haircuts</div>
                <div class="price__item-content">
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Regular Haircut</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$20</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Haircut + Shave</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$19</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Haircut + Beard Trim</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$30</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Beard Trim</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$22</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Hair Tatoo</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$40</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Facial</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$15</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="price__item">
                <img src="../img/price/price3.jpg" alt="" class="price__item-img">
                <div class="price__item-title">Haircuts</div>
                <div class="price__item-content">
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Regular Haircut</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$20</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Haircut + Shave</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$19</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Haircut + Beard Trim</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$30</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Beard Trim</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$22</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Hair Tatoo</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$40</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Facial</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$15</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="price__item">
                <img src="../img/price/price4.jpg" alt="" class="price__item-img">
                <div class="price__item-title">Haircuts</div>
                <div class="price__item-content">
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Regular Haircut</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$20</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Haircut + Shave</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$19</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Haircut + Beard Trim</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$30</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Beard Trim</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$22</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Hair Tatoo</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$40</span>
                        </div>
                    </div>
                    <div class="price__item-content-type">
                        <h5 class="price__item-content__title">Facial</h5>
                        <div class="price__item-content-type__description">
                            <span class="price__item-content-minutes">60 min</span>
                            <span class="price__item-content-value">$15</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>