<div class="testimonials-swiper">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../img/slider/slider1.jpg" alt="Image 1">
                <div class="slide-content">
                    <h2 class="slide-title">Darrell Steward</h2>
                    <p class="slide-subtitle">Describe the feedback or end result the person received after interacting with you. What exactly did it give him. You can describe the result in numbers to be specific.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="../img/slider/slider2.jpg" alt="Image 1">
                <div class="slide-content">
                    <h2 class="slide-title">Marvin McKinney</h2>
                    <p class="slide-subtitle">Describe the feedback or end result the person received after interacting with you. What exactly did it give him. You can describe the result in numbers to be specific.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="../img/slider/slider3.jpg" alt="Image 1">
                <div class="slide-content">
                    <h2 class="slide-title">Ronald Richards</h2>
                    <p class="slide-subtitle">Describe the feedback or end result the person received after interacting with you. What exactly did it give him. You can describe the result in numbers to be specific.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="../img/slider/slider4.jpg" alt="Image 1">
                <div class="slide-content">
                    <h2 class="slide-title">Cody Fisher</h2>
                    <p class="slide-subtitle">Describe the feedback or end result the person received after interacting with you. What exactly did it give him. You can describe the result in numbers to be specific.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="../img/slider/slider1.jpg" alt="Image 1">
                <div class="slide-content">
                    <h2 class="slide-title">Darrell Steward</h2>
                    <p class="slide-subtitle">Describe the feedback or end result the person received after interacting with you. What exactly did it give him. You can describe the result in numbers to be specific.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="../img/slider/slider2.jpg" alt="Image 1">
                <div class="slide-content">
                    <h2 class="slide-title">Marvin McKinney</h2>
                    <p class="slide-subtitle">Describe the feedback or end result the person received after interacting with you. What exactly did it give him. You can describe the result in numbers to be specific.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="../img/slider/slider3.jpg" alt="Image 1">
                <div class="slide-content">
                    <h2 class="slide-title">Ronald Richards</h2>
                    <p class="slide-subtitle">Describe the feedback or end result the person received after interacting with you. What exactly did it give him. You can describe the result in numbers to be specific.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="../img/slider/slider4.jpg" alt="Image 1">
                <div class="slide-content">
                    <h2 class="slide-title">Cody Fisher</h2>
                    <p class="slide-subtitle">Describe the feedback or end result the person received after interacting with you. What exactly did it give him. You can describe the result in numbers to be specific.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-btn-prev swiper__btn"></div>
    <div class="swiper-btn-next swiper__btn"></div>
</div>