// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family:'Montserrat', sans-serif;
  --content-width: 1180px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --accent-color: #FF6E40;
  --dark-color: #251D1A;
  --white-color: #FFFFFF;
  --text-color: #EFE7E2;
  --onyx-color: #3B322D;
}
